body{
        margin: 0px;
        padding: 0px;
    }
#topCon{
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	height: 140px;
	position: absolute;
	overflow: auto;
	background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(243,243,243,1) 40%, rgba(0,212,255,1) 100%);
	}
.navCon{
	border:none;
	position: relative;
	height: 65px;
	left:1%;
}
#top{
	width: 98%;

}
#bottom{
	width:88%;
}
#logo{
	width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: green;
	height: 80%;
	position: absolute;
}
#search{
	width: 55%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	height: 30%;
	position: absolute;
	left: 20%;
	top: 20px;
}
#Login{
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
	height: 50%;
	width: 18%;
	left: 80%;
	position: absolute;
}
#pets{
	left: 2%;
}
#petSupplies{
	left:35%;
}
#petServcies{
	left:68%;
}
.navigation{
	border:none;
	width: 31%;
	top: 3px;
	position:absolute;
	height: 30px;

	text-align: center;
}
.navigationBtn{
	border:none;
	width:100%;
	background-color: #94f1ff;
	text-align: center;
	text-decoration: none;
	padding:5px 20px;
	font-size:15px;
	border-right-style: solid;
	border-right-color:white;
	border-bottom-style:solid;
	border-bottom-color:white;
}
