body{
        margin: 0px;
        padding: 0px;
    }
#topCon{
	width: 100%;
	height: 140px;
	position: relative;
	box-shadow: -5px 3px 8px grey;
	}
.navCon{
	border:none;
	position: relative;
	height: 65px;
	left:1%;
}
#top{
	width: 98%;

}
#bottom{
	width:88%;
}
#logo{
	width: 50px;
	height: 80%;
	position: absolute;
}
#search{
	width: 55%;
	height: 30%;
	position: absolute;
	left: 20%;
	top: 20px;
}
#Login{

	height: 50%;
	width: 18%;
	left: 80%;
	position: absolute;
}
#pets{
	left: 2%;
}
#petSupplies{
	left:35%;
}
#petServcies{
	left:68%;
}
.navigation{
	border:none;
	width: 31%;
	top: 3px;
	position:absolute;
	height: 30px;
	text-align: center;
}
.navigationBtn{
	border:none;
	width:100%;
	background-color: #68b8f2;
	text-align: center;
	text-decoration: none;
	padding:5px 20px;
	font-size:15px;
	box-shadow: 3px 3px 5px grey;
	border-radius: 4px;
	color:white;
}
.navigationBtn:hover{
	background-color: #2ea0f2;
}
.navigationBtn:focus{
	border-bottom-style:solid;
	border-bottom-color: white;
	outline:0;	
}
#filterCon{
	border-style: solid;
	border-width: 2px;
	border-color: pink;
	position: absolute;
	/* margin-top: 0px; */
}

.displayItem{
	background-color: white;
	width: 400px;
	height: 250px;	
	border-radius: 20px;	
}

#MainCon {
	position: absolute;
	left:200px;
	top: 150px;
	width: 1200px;
	height: 800px;
	background-color: lightgreen
}

.petImage{
	float:left;
	width: 250px;
	height: 200px;
}
.petIntro{
	
}

.logreg{
	border:none;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	box-shadow: -1px 3px 9px grey;
	border-radius: 4px;
}
#login{
	
}
#searchBox{
	width:100%;
	height:30px;
}