#topCon{
	width: 98%;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	height: 60px;
	position: absolute;
	overflow: auto;
}
#logo{
	width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: green;
	height: 80%;
	position: absolute;
}
#search{
	width: 55%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	height: 30%;
	position: absolute;
	left: 20%;
	top: 20px;
}
#Login{
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
	height: 50%;
	width: 18%;
	left: 80%;
	position: absolute;
}
