#topCon{
	width: 98%;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	height: 130px;
	position: absolute;
	overflow: auto;
}
#top{
	width: 98%;
	border-style: solid;
	border-width: 2px;
	position: relative;
	height: 60px;
	left:1%;
}
#bottom{
	width: 98%;
	border-style: solid;
	border-width: 2px;
	border-color: purple;
	height: 60px;
	left:1%;
	position: relative;

}
#logo{
	width: 50px;
	border-style: solid;
	border-width: 2px;
	border-color: green;
	height: 80%;
	position: absolute;
}
#search{
	width: 55%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	height: 30%;
	position: absolute;
	left: 20%;
	top: 20px;
}
#Login{
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
	height: 50%;
	width: 18%;
	left: 80%;
	position: absolute;
}
#pets{
	border-color: gray;
	left: 2%;
}
#petSupplies{
	border-color: orange;
	left:34%;
}
#petServcies{
	border-color: grey;
	left:68%;
}
.navigation{
	border-style: solid;
	border-width: 2px;
	width: 31%;
	top: 3px;
	position:absolute;
}
